<h3 style="color:@Kolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non mi non neque iaculis ullamcorper. Cras vitae ligula ac turpis hendrerit luctus. Curabitur nec sapien ligula. Cras mollis elit in blandit ornare. Curabitur vehicula leo vitae tellus volutpat tempus. Aliquam in mauris ipsum. Mauris nec finibus nibh, tristique lobortis metus. Duis maximus id urna at convallis. Nullam eu est quis tellus vulputate luctus. Donec aliquam faucibus pulvinar. Suspendisse euismod arcu ut lacus sagittis vulputate.</h3>

@code {

    [Parameter]
    public string? Kolor { get; set; }
}